In [1]:
import pandas as pd

In [2]:
def reading_files(year):
    list_df = []
    for value in year:
        link = 'names/yob'+str(value)+'.txt'
        df = pd.read_csv(link, names=['Names', 'Gender', 'Count'])
        df['Year'] = value
        list_df.append(df)
    df_res = pd.concat(list_df)
    return df_res

In [94]:
def count_top3(year):
    df = reading_files(year)
    stacked_df = df.groupby(['Names']).sum().sort_values(by=['Count'], ascending=False).head(3)
    return stacked_df[['Count']]

In [95]:
count_top3([1900, 1950, 2000])

         Count
Names
James   111789
John    109601
Robert  101368

In [22]:
def count_dynamics(year):
    df = reading_files(year)
    stacked_df = df.groupby(['Gender', 'Year']).sum()
    return stacked_df[['Count']]

In [23]:
count_dynamics([1900, 1950, 2000])

               Count
Gender Year
F      1900   299798
       1950  1713065
       2000  1815295
M      1900   150480
       1950  1790437
       2000  1963202